<robot name="test_robot">

  <link name="down_base" />
    <visual>
       <geometry>
         <box size="0.155 0.155 0.06"/>
       </geometry>
       <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
  </link>

  <link name="up_base" />
  <link name="big_arm" />
  <link name="small_arm" /> 

  <joint name="joint_downbase_upbase" type="fixed">
    <parent link="down_base"/>
    <child link="up_base"/>
  </joint>

  <joint name="joint_upbase_bigarm" type="fixed">
    <parent link="up_base"/>
    <child link="big_arm"/>
  </joint>

  <joint name="joint_bigarm_smallarm" type="fixed">
    <parent link="big_arm"/>
    <child link="small_arm"/>
  </joint>

</robot>
